#include "winver.h"
#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define IDI_ICON_ITCH 101
#define IDI_ICON_KITCH 102

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "itch corp."
      VALUE "FileDescription", "Installer and self-update helper for the itch app"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "itch-setup"
      VALUE "LegalCopyright", "itch corp."
      VALUE "OriginalFilename", "itch-setup.exe"
      VALUE "ProductName", "itch-setup"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON_ITCH       ICON      "data\\itch.ico"
IDI_ICON_KITCH      ICON      "data\\kitch.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST MOVEABLE PURE "itch-setup.manifest.xml"
